.mediaViewInfo {
    --web-view-name: Spec Ops 2;
    --web-view-id: Spec_Ops_2;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-scale-on-resize: true;
    --web-center-vertically: true;
    --web-application: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: Spec_Ops_2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow-x: hidden;
}

body {
    height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #1d1e18;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(79, 231, 220, 1);
}

.txt:hover {
    opacity: 1;
}

.txt::before {
    transition: 300ms;
    height: 4px;
    content: "";
    position: absolute;
    background-color: rgba(79, 231, 220, 1);
}

.txt-ltr::before {
    width: 0%;
    bottom: -10px;
}

.txt-ltr:hover::before {
    width: 100%;
}

.Spec_Ops_2_Class {
    position: absolute;
    width: 1920px;
    height: 1857px;
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden;
    --web-view-name: Spec Ops 2;
    --web-view-id: Spec_Ops_2;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-scale-on-resize: true;
    --web-center-vertically: true;
    --web-application: true;
    --web-enable-deep-linking: true;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.form {
    display: block;
    width: 330px;
    height: auto;
    padding: 32px;
    background-color: #04050096;
    border-radius: 13px;
    box-shadow: 3px 3px 5px #4fe7dc, -5px -5px 10px rgb(0, 0, 0);
}

.form__field {
    display: grid;
    gap: 24px;
    margin-bottom: 32px;
}

.input-group {
    width: 100%;
    height: auto;
}

.input-group__label {
    display: block;
    padding-left: 10px;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #f0edee;
    text-shadow: 1px 1px 0 rgb(0, 0, 0);
    margin-bottom: 8px;
}

.input-group__input {
    display: block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background-color: #0000009c;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #f0edee;
    text-shadow: 1px 1px 0 rgb(0, 0, 0);
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 30px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px rgb(0, 0, 0);
    transition: all 0.2s ease-in-out;
}

.input-group__input:focus {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px rgb(0, 0, 0);
}

.button {
    background-color: #00000096;
    color: #f0edee;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.07em;
    text-shadow: 1px 1px 0 rgb(0, 0, 0);
    padding: 8px 20px;
    border: 0;
    border-radius: 30px;
    box-shadow: 3px 3px 5px #4fe7dc, -4px -4px 10px rgb(0, 0, 0);
    outline: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    box-shadow: -2px -2px 5px rgb(0, 0, 0), 2px 2px 5px #4fe7dc;
}

.button:active {
    box-shadow: inset 2px 2px 3px #4fe7dc, inset -2px -2px 3px rgb(0, 0, 0);
}

.Spec_Background_Class {
    position: absolute;
    width: 1920px;
    height: 1280px;
    left: 0px;
    top: -190px;
    overflow: visible;
}

.Black_Tint_Class {
    fill: rgba(0, 0, 0, 0.8);
}

.Black_Tint {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 1090px;
    left: 0px;
    top: 0px;
}

.Footer_Class {
    position: absolute;
    width: 1920.5px;
    height: 1080px;
    left: -0.5px;
    top: 1338px;
    overflow: visible;
}

.Footer_Background_Class {
    position: absolute;
    width: 1920.5px;
    height: 1080px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Footer_Bg_Class {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.ID23627_Class {
    fill: rgba(0, 0, 0, 0.6);
}

.ID23627 {
    position: absolute;
    overflow: visible;
    width: 1920.5px;
    height: 526.5px;
    left: 0px;
    top: 0px;
}

.Copyright_Tech_Club_2020_Class {
    left: 880.004px;
    top: 402px;
    position: absolute;
    overflow: visible;
    width: 179px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(152, 150, 150, 1);
}

.C_Class {
    left: 866.004px;
    top: 404px;
    position: absolute;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    text-align: right;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: rgba(152, 150, 150, 1);
}

.Ellipse_80_Class {
    fill: transparent;
    stroke: rgba(152, 150, 150, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Ellipse_80 {
    position: absolute;
    overflow: visible;
    width: 14px;
    height: 14px;
    left: 863.004px;
    top: 405px;
}

.Linkedin_Icon_Class {
    position: absolute;
    width: 50px;
    height: 50.575px;
    left: 1008.008px;
    top: 334.18px;
    overflow: visible;
}

.Ellipse_71_Class {
    fill: transparent;
    stroke: rgba(152, 150, 150, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Ellipse_71 {
    position: absolute;
    overflow: visible;
    width: 50px;
    height: 50.574px;
    left: 0px;
    top: 0px;
}

.linkedin_Class {
    position: absolute;
    width: 13.793px;
    height: 13.041px;
    left: 18.39px;
    top: 18.965px;
    overflow: visible;
}

.Path_213_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_213 {
    overflow: visible;
    position: absolute;
    width: 8.915px;
    height: 9.439px;
    left: 4.878px;
    top: 3.602px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_214_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_214 {
    overflow: visible;
    position: absolute;
    width: 2.86px;
    height: 9.209px;
    left: 0.228px;
    top: 3.832px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_215_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_215 {
    overflow: visible;
    position: absolute;
    width: 3.313px;
    height: 3.328px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Insta_Icon_Class {
    position: absolute;
    width: 50px;
    height: 50.575px;
    left: 934.504px;
    top: 334.18px;
    overflow: visible;
}

.Ellipse_69_Class {
    fill: transparent;
    stroke: rgba(152, 150, 150, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Ellipse_69 {
    position: absolute;
    overflow: visible;
    width: 50px;
    height: 50.574px;
    left: 0px;
    top: 0px;
}

.Subtraction_9_Class {
    fill: rgba(152, 150, 150, 1);
}

.Subtraction_9 {
    overflow: visible;
    position: absolute;
    width: 13.793px;
    height: 13.797px;
    left: 18.39px;
    top: 18.391px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Facebook_Icon_Class {
    position: absolute;
    width: 50px;
    height: 50.658px;
    left: 863px;
    top: 334.18px;
    overflow: visible;
}

.facebook_Class {
    position: absolute;
    width: 50px;
    height: 50.658px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Ellipse_43_Class {
    fill: transparent;
    stroke: rgba(152, 150, 150, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Ellipse_43 {
    position: absolute;
    overflow: visible;
    width: 50px;
    height: 50.658px;
    left: 0px;
    top: 0px;
}

.facebook_bp_Class {
    position: absolute;
    width: 13.816px;
    height: 14.353px;
    left: 17.762px;
    top: 18.098px;
    overflow: visible;
}

.Group_57_Class {
    position: absolute;
    width: 13.816px;
    height: 14.353px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Rectangle_1458_Class {
    fill: transparent;
}

.Rectangle_1458 {
    position: absolute;
    overflow: visible;
    width: 13.816px;
    height: 13.816px;
    left: 0px;
    top: 0.322px;
}

.Path_1_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_1 {
    overflow: visible;
    position: absolute;
    width: 7.496px;
    height: 14.354px;
    left: 3.479px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Terms__Conditions_Class {
    left: 1583px;
    top: 229px;
    position: absolute;
    overflow: visible;
    width: 147px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(152, 150, 150, 1);
}

.Privacy_Policy_Class {
    left: 1605px;
    top: 194px;
    position: absolute;
    overflow: visible;
    width: 103px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(152, 150, 150, 1);
}

.ID7th_Floor_V_L_Mehta_Road_Vil_Class {
    left: 1147px;
    top: 194px;
    position: absolute;
    overflow: visible;
    width: 354px;
    height: 63px;
    line-height: 35px;
    margin-top: -10px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(152, 150, 150, 1);
}

.Location_Icon_Class {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1132px;
    top: 194px;
    overflow: visible;
}

.Path_1022_Class {
    fill: transparent;
}

.Path_1022 {
    overflow: visible;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_1023_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_1023 {
    overflow: visible;
    position: absolute;
    width: 14px;
    height: 20px;
    left: 5px;
    top: 2px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Pratik_Doshi__9987733926_Tatha_Class {
    left: 546px;
    top: 194px;
    position: absolute;
    overflow: visible;
    width: 300px;
    height: 69px;
    line-height: 30px;
    margin-top: -5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(152, 150, 150, 1);
}

.Phone_Icon_Class {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 512px;
    top: 217px;
    overflow: visible;
}

.Path_1020_Class {
    fill: transparent;
}

.Path_1020 {
    overflow: visible;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_1021_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_1021 {
    overflow: visible;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 3px;
    top: 3px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.techclubnmimsgmailcom_Class {
    left: 228px;
    top: 194px;
    position: absolute;
    overflow: visible;
    width: 213px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: rgba(152, 150, 150, 1);
}

.Mail_Icon_Class {
    fill: rgba(152, 150, 150, 1);
    stroke: rgba(152, 150, 150, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Mail_Icon {
    overflow: visible;
    position: absolute;
    width: 25px;
    height: 19px;
    left: 191px;
    top: 195.473px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.LEGAL_Class {
    left: 1614px;
    top: 127px;
    position: absolute;
    overflow: visible;
    width: 85px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: rgba(152, 150, 150, 1);
}

.ADDRESS_Class {
    left: 1254px;
    top: 127px;
    position: absolute;
    overflow: visible;
    width: 127px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: rgba(152, 150, 150, 1);
}

.Logo_Class {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 875px;
    top: 110px;
    overflow: visible;
}

.Logo_b_Class {
    filter: blur(50px);
    position: absolute;
    width: 138px;
    height: 138px;
    left: 16px;
    top: 16px;
    overflow: visible;
}

.Logo_cb_Class {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Logo_cb_Class {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.PHONE_Class {
    left: 590px;
    top: 127px;
    position: absolute;
    overflow: visible;
    width: 97px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: rgba(152, 150, 150, 1);
}

.EMAIL_Class {
    left: 274px;
    top: 127px;
    position: absolute;
    overflow: visible;
    width: 83px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: rgba(152, 150, 150, 1);
}

.Banner_Class {
    position: absolute;
    width: 1920px;
    height: 409px;
    left: -0.5px;
    top: 929px;
    overflow: visible;
}

.Banner_Tint_Class {
    fill: rgba(0, 0, 0, 0.502);
}

.Banner_Tint {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 409px;
    left: -0.5px;
    top: 929px;
}

.Join_Us_Class {
    position: absolute;
    width: 488px;
    height: 197.73px;
    left: 716px;
    top: 1051px;
    overflow: visible;
}

.Submit_Button_Class {
    position: absolute;
    width: 208.5px;
    height: 52.73px;
    left: 180px;
    top: 145px;
    overflow: visible;
}

.Button_Class {
    fill: transparent;
    stroke: rgba(79, 231, 220, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Button {
    position: absolute;
    overflow: visible;
    width: 208.5px;
    height: 52.73px;
    left: 0px;
    top: 0px;
}

.SUBMIT_Class {
    left: 53.903px;
    top: 12px;
    position: absolute;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(240, 237, 238, 1);
}

.Mail_ID_Class {
    position: absolute;
    width: 399.061px;
    height: 52.73px;
    left: 44px;
    top: 61px;
    overflow: visible;
}

.Container_Class {
    fill: rgba(0, 0, 0, 1);
}

.Container {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
    position: absolute;
    overflow: visible;
    width: 417.061px;
    height: 70.73px;
    left: 0px;
    top: 0px;
}

.Your_Mail_ID_Class {
    left: 30.53px;
    top: 12px;
    position: absolute;
    overflow: visible;
    width: 147px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(240, 237, 238, 1);
}

.Mail_Icon_cm_Class {
    position: absolute;
    width: 30.18px;
    height: 22.635px;
    left: 339.351px;
    top: 15px;
    overflow: visible;
}

.Mail_icon_path_Class {
    fill: rgba(240, 237, 238, 1);
}

.Mail_icon_path {
    overflow: visible;
    position: absolute;
    width: 30.18px;
    height: 22.635px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Interested_In_Joining_Us_Let_U_Class {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 489px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(240, 237, 238, 1);
}

.Web_Design_Class {
    position: absolute;
    width: 278px;
    height: 148px;
    left: 1651px;
    top: 764px;
    overflow: visible;
}

.Videography_Class {
    position: absolute;
    width: 278px;
    height: 148px;
    left: 1373px;
    top: 764px;
    overflow: visible;
}

.Programming_Class {
    position: absolute;
    width: 278px;
    height: 148px;
    left: 817px;
    top: 764px;
    overflow: visible;
}

.Spec_Ops_Class {
    position: absolute;
    width: 318px;
    height: 168px;
    left: 1075px;
    top: 744px;
    overflow: visible;
}

.Graphic_Design_Class {
    position: absolute;
    width: 278px;
    height: 148px;
    left: 539px;
    top: 764px;
    overflow: visible;
}

.Digital_Marketing_Class {
    position: absolute;
    width: 278px;
    height: 148px;
    left: 269px;
    top: 764px;
    overflow: visible;
}

.Data_Analytics_Class {
    position: absolute;
    width: 278px;
    height: 148px;
    left: -9px;
    top: 764px;
    overflow: visible;
}

.Course_Class {
    position: absolute;
    width: 265px;
    height: 100.861px;
    left: 236px;
    top: 573.029px;
    overflow: visible;
}

.Market_Research_Class {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: 50.861px;
    overflow: visible;
}

.Logistics_Class {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 110px;
    top: 50.861px;
    overflow: visible;
}

.Management_Class {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 215px;
    top: 50.861px;
    overflow: visible;
}

.Course___Class {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 104px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(240, 237, 238, 1);
}

.Kushal_Class {
    position: absolute;
    width: 431px;
    height: 524px;
    left: 1277px;
    top: 145px;
    overflow: visible;
}

.Text_Class {
    position: absolute;
    width: 1005.78px;
    height: 277.93px;
    left: 236px;
    top: 266.01px;
    overflow: visible;
}

.important_that_we_start_nurtur_Class {
    left: 0px;
    top: 30px;
    position: absolute;
    overflow: visible;
    width: 1006.78px;
    height: 277.92999267578125px;
    line-height: 50px;
    margin-top: -16px;
    text-align: justify;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(240, 237, 238, 1);
}

.Spec_Line_Class {
    fill: transparent;
    stroke: rgba(79, 231, 220, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Spec_Line {
    overflow: visible;
    position: absolute;
    width: 78.5px;
    height: 3px;
    left: 236px;
    top: 265.084px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.SPEC_OPS__Class {
    left: 236px;
    top: 150.371px;
    position: absolute;
    overflow: visible;
    width: 211px;
    white-space: nowrap;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(240, 237, 238, 1);
}

.Underline_Class {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(79, 231, 220, 1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Underline {
    overflow: visible;
    position: absolute;
    width: 119.455px;
    height: 5px;
    left: 658.306px;
    top: 74.5px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Nav_Bar_Class {
    position: absolute;
    width: 1398px;
    height: 75px;
    left: 261px;
    top: 20px;
    overflow: visible;
}

.Sync_Class {
    position: absolute;
    width: 42px;
    height: 19px;
    left: 1356px;
    top: 29.5px;
    overflow: visible;
}

.SYNC_Class {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 43px;
    white-space: nowrap;
    line-height: 16px;
    margin-top: -0.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(240, 237, 238, 1);
}

.Contact_Us_Class {
    position: absolute;
    width: 76px;
    height: 19px;
    left: 1123px;
    top: 29.5px;
    overflow: visible;
    --web-animation: fadein 0.4s ease-in-out;
    --web-action-type: view;
    --web-action-target: Contact_Us;
    cursor: pointer;
}

.SERVICES_Class {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 77px;
    white-space: nowrap;
    line-height: 16px;
    margin-top: -0.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(240, 237, 238, 1);
}

.Events_Class {
    position: absolute;
    width: 61px;
    height: 19px;
    left: 905px;
    top: 29.5px;
    overflow: visible;
}

.EVENTS_Class {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 62px;
    white-space: nowrap;
    line-height: 16px;
    margin-top: -0.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(240, 237, 238, 1);
}

.Glow_Class {
    filter: blur(50px);
    position: absolute;
    width: 75px;
    height: 75px;
    left: 661.5px;
    top: 0px;
    overflow: visible;
}

.Logo_df_Class {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 661.5px;
    top: 0px;
    overflow: visible;
    --web-animation: fadein 0.4s ease-out;
    --web-action-type: view;
    --web-action-target: Homepage;
    cursor: pointer;
}

.Logoglow_df_Class {
    filter: blur(50px);
    position: absolute;
    width: 75px;
    height: 75px;
    left: 661.5px;
    top: 0px;
    overflow: visible;
    --web-animation: fadein 0.4s ease-out;
    --web-action-type: view;
    --web-action-target: Homepage;
    cursor: pointer;
}

.Departments_Class {
    position: absolute;
    width: 119px;
    height: 19px;
    left: 395px;
    top: 29.5px;
    overflow: visible;
}

.DEPARTMENTS_Class {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 120px;
    white-space: nowrap;
    line-height: 16px;
    margin-top: -0.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(240, 237, 238, 1);
}

.About_Class {
    position: absolute;
    width: 56px;
    height: 19px;
    left: 194px;
    top: 29.5px;
    overflow: visible;
}

.ABOUT_Class {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 57px;
    white-space: nowrap;
    line-height: 16px;
    margin-top: -0.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(240, 237, 238, 1);
}

.Home_Class {
    position: absolute;
    width: 49px;
    height: 19px;
    left: 0px;
    top: 29.5px;
    overflow: visible;
}

.HOME_Class {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 50px;
    white-space: nowrap;
    line-height: 16px;
    margin-top: -0.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(240, 237, 238, 1);
}

.Arrow_Class {
    fill: rgba(152, 150, 150, 1);
}

.Arrow {
    overflow: visible;
    position: absolute;
    width: 22.461px;
    height: 40.531px;
    left: 170.638px;
    top: 380px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

@media (max-width: 1400px) {
    body {
        -moz-transform: scale(0.75, 0.75);
        /* Moz-browsers */
        zoom: 0.75;
        /* Other non-webkit browsers */
        zoom: 75%;
        /* Webkit browsers */
    }
}

@media (max-width: 1600px) {
    body {
        -moz-transform: scale(0.8, 0.8);
        /* Moz-browsers */
        zoom: 0.8;
        /* Other non-webkit browsers */
        zoom: 80%;
        /* Webkit browsers */
    }
}

@media (max-width: 1440px) {
    body {
        -moz-transform: scale(0.75, 0.75);
        /* Moz-browsers */
        zoom: 0.75;
        /* Other non-webkit browsers */
        zoom: 75%;
        /* Webkit browsers */
    }
}

@media (max-width: 1300px) {
    body {
        -moz-transform: scale(0.67.5, 0.67.5);
        /* Moz-browsers */
        zoom: 0.67.5;
        /* Other non-webkit browsers */
        zoom: 67.5%;
        /* Webkit browsers */
    }
}

@media (max-width: 1366px) {
            body {
                -moz-transform: scale(0.73, 0.73);
                /* Moz-browsers */
                zoom: 0.73;
                /* Other non-webkit browsers */
                zoom: 73%;
                /* Webkit browsers */
            }
        }